<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="monitoredUri" value="https://rafat-metric-demo.documents.azure.com:443/" />
    <add key="monitoredSecretKey" value="E0wCMaBIzyoKD8s13RgsvSMhzVwDrJofO2K8bCYYBMNfACLk04SHevvjF3HtMdyrH3RwlPVUZKK3KdlALwwMhg==" />
    <add key="monitoredDbName" value="IoT" />
    <add key="monitoredCollectionName" value="IoT" />
    <add key="monitoredThroughput" value="400" />
    
    <add key="leaseUri" value="https://rafat-metric-demo.documents.azure.com:443/" />
    <add key="leaseSecretKey" value="E0wCMaBIzyoKD8s13RgsvSMhzVwDrJofO2K8bCYYBMNfACLk04SHevvjF3HtMdyrH3RwlPVUZKK3KdlALwwMhg==" />
    <add key="leaseDbName" value="IoT" />
    <add key="leaseCollectionName" value="leases" />
    <add key="leaseThroughput" value="400" />
 </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\ChangeFeedProcessorTracev2.log" />
    </sharedListeners>
    <sources>
      <source name="ChangeFeedEventHost" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
        <!-- All, Verbose, Warning, Information, Error, Off -->
        <listeners>
          <clear />
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" useGlobalLock="false" />
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.21.0.0" newVersion="1.21.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
